<header class="page-header">
    <nav class="page-nav">
        <a href="/" class="page-title">
            <img src="/assets/img/bittrex-logo-mark.svg" alt="Bittrex Logo Mark"/>
            <img src="/assets/img/bittrex-word-mark.svg" alt="Bittrex Word Mark"/>
            <!-- <span style="font-size: 12px;">Developers</span> -->
        </a>

        <a href="/api" class="nav-link hide-for-small-only">API Reference</a>

        {% if page.version == 'v1.1' %}
            {% assign v1LinkClass = 'active' %}
        {% endif %}
        {% if page.version == 'v3' %}
            {% assign v3LinkClass = 'active' %}
        {% endif %}

        <div class="nav-link"> 
            {{page.version}}{% if page.version == 'v3' %}<span class="badge">Alpha</span>{% endif %} <i class="arrow down"></i>
            <ul class="dropdown">
                <li><a href="/api/v1-1" class="nav-link version-link {{v1LinkClass}}">v1.1</a></li>
                <li><a href="/api/v3" class="nav-link version-link {{v3LinkClass}}">v3<span class="badge warning">Alpha</span></a></li>
            </ul>
        </div>
 
    </nav>
    <a href="https://bittrex.com" target="_blank" class="external-link hidden-sm">Go to Bittrex.com</a>
</header>